body {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
}

table {
    border-collapse: collapse;
    font-size: 20pt;
    margin-left: auto;
    margin-right: auto;
}

td {
    border: 1px solid;
    width: 50px;
    height: 50px;
    text-align: center;
}

td:nth-child(3n) {
    border-right-width: 2px;
}

tr:nth-child(3n) td {
    border-bottom-width: 2px;
}

tr:last-child td {
    border-bottom-width: 1px;
}

td:last-child {
    border-right-width: 1px;
}

td select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    color: darkgrey;
    font-size: 20pt;
    font-family: inherit;
    width: 100%;
    height: 100%;
    text-align: center;
    text-align-last: center;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.invalid-field {
    background-color: darkred;
}

.explainer {
    padding-top: 2em;
    padding-bottom: 1em;
}

.explainer-text {
    margin-left: 20%;
    margin-right: 20%;
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  
  background-color: black; 
  border: 1px solid black;
  padding: 0.75rem 0.75rem;
  font-size: 1.2rem;
  border-radius: 1.0rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover {
  color: white;
  background-color: darkgrey;
  border-color: darkgrey;
}

.btn:focus {
  color: white;
  background-color: black;
  border-color: black;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(99, 99, 99, 0.5); 
}
