{% extends 'base.html' %}

{% block title %}Hello there{% endblock %}

{% block body %}
<div class="container text-center">
  <h1>Sudoku</h1>

  <p><a href="/generate" class="btn btn-primary">Generate new game!</a></p>

  <table>
    {% for y in range(9) %}
    <tr>
      {% for x in range(9) %}
      <td>{% if grid[y][x] != 0 %}
        {{grid[y][x]}}
        {% else %}
        <!-- <a hx-get="/possible_at_{{x}}_{{y}}" hx-swap="outerHTML">f</a> -->
        <select hx-get="/possible_at_{{x}}_{{y}}" hx-swap="outerHTML" hx-trigger="click">
          <option value=""></option>
        </select>
        <!-- <select hx-get="/possible_at_{{x}}_{{y}}" hx-swap="outerHTML" hx-trigger="click">f</select> -->
        {%endif%}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}