<table class="sudoku-grid">
  {% for y in range(9) %}
  <tr>
    {% for x in range(9) %}
    <td>
      {% if not game.player_settable(x, y) %}
      {{ game.get_val_at(x, y) }}
      {% else %}
      <select
        hx-trigger="change"
        hx-post="/change_{{x}}_{{y}}"
        hx-target=".sudoku-grid"
        hx-swap="outerHTML"
        {% if game.get_possible_vals_at(x,y) == [] %}
          class = "form-select invalid-field"
        {% else %}
          class = "form-select valid-field"
        {% endif %}
        name="value">
          {% if game.is_empty_at(x, y) %}
          <option value="0" selected></option>
          {% for val in game.get_possible_vals_at(x,y) %}
          <option value="{{ val }}">{{ val }}</option>
          {% endfor %}
          {% else %}
          <option value="0"></option>
          {% for val in game.get_possible_vals_at(x,y) %}
          <option value="{{ val }}" {% if val==game.get_val_at(x, y) %}selected{% endif %}>{{ val }}</option>
          {% endfor %}

          {% endif %}
      </select>
      {%endif%}
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
</div>
